@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ECE8E1;
}

header {
  height: 5rem;
  background-color: #40578C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

nav.header-right a {
  padding-left: 30px;
}

header a {
  text-decoration: none;
  color: white;
}

.header-right a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: rgb(211, 211, 211);
}

a, .btn {
  transition: all 300ms ease;
}

section.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  margin-top: 100px;
}

.left-section {
  display: grid;
  place-items: center;
}

.left-section img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}

p#about-me-description {
  margin-top: 80px;
  line-height: 1.5rem;
  letter-spacing: 1.2px;
  margin-right: 240px;
}

#about-me-logos {
  padding-top: 20px;
}

#about-me-logos img {
  width: 50px;
  padding-right: 30px;
}

.section-title {
  text-align: center;
  font-size: 1.875rem;
  margin-top: 200px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
  margin-top: 120px;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 336px;
  border-radius: 20px;
  background-color: #F7F6F3;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.card .card-title {
  margin: 20px 30px;
}

.card .card-description {
  margin: 20px 30px;
  width: 70%;
}

#skills-card {
  margin-top: 60px;
  display: flex;
  justify-self: center;
  max-height: 120px;
  width: 85%;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

#skills-card img {
  width: 50px;
}

.contact-wrapper {
  margin-top: 60px;
  margin-bottom: 200px;
}

.contact-line {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-text {
  padding-left: 20px;
}

.contact-line img {
  width: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: #40578C;
}

footer p {
  color: white;
}