@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ECE8E1;
}

header {
  height: 5rem;
  background-color: #40578C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

nav.header-right a {
  padding-left: 30px;
}

header a {
  text-decoration: none;
  color: white;
}

.header-right a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: rgb(211, 211, 211);
}

a, .btn {
  transition: all 300ms ease;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  margin-top: 100px;
}

.left-section {
  display: grid;
  place-items: center;
}

.left-section img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}

p#about-me-description {
  margin-top: 80px;
  line-height: 1.5rem;
  letter-spacing: 1.2px;
  margin-right: 240px;
}

#about-me-logos {
  padding-top: 20px;
}

#about-me-logos i {
  padding-right: 30px;
  color: #40578C;
}

#github-card-icon {
  color: white;
}

#github-skill-icon {
  color: #40578C;
}

#light {
  color: green;
  font-size: 2rem;
  padding-right: 20px;
}

#light:hover {
  cursor: pointer;
}

#dark {
  color: red;
  font-size: 2rem;
}

#dark:hover {
  cursor: pointer;
}

.mode {
  padding: 40px;
}

.section-title {
  text-align: center;
  font-size: 1.875rem;
  margin-top: 200px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
  margin-top: 120px;
  place-items: center;
}

.icon {
  color: black;
  font-size: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 336px;
  border-radius: 20px;
  background-color: #F7F6F3;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.card .card-title {
  margin: 20px 30px;
}

.card .card-description {
  margin: 20px 30px;
  width: 70%;
}

#skills-card {
  margin-top: 60px;
  display: flex;
  justify-self: center;
  max-height: 120px;
  width: 85%;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.card-buttons button {
  width: 30%;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #40578C;
  color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  border: none;
}

.card-buttons button:hover {
  color: rgb(211, 211, 211);
  cursor: pointer;
}

.card-buttons button:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.github-button img{
  width: 40px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

#skills-card img {
  width: 50px;
}

.contact-wrapper {
  margin-top: 60px;
  margin-bottom: 200px;
}

.contact-line {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-text {
  padding-left: 20px;
}

.contact-line img {
  width: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: #40578C;
}

footer p {
  color: white;
}

.off-screen-menu {
  background-color: #40578C;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 3rem;
  transition: .3s ease;
}

.off-screen-menu ul {
  list-style-type: none;
}

.off-screen-menu li {
  color: white;
  padding: 30px 0;
}

.off-screen-menu li:hover {
  cursor: pointer;
  color: rgb(211, 211, 211);
  transition: .5s ease;
  transform: translate(20px);
}

.off-screen-menu.active {
  right: 0;
}

.ham-menu {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
  display: none;
  z-index: 10;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 1200px) {
  .about-me {
    grid-template-columns: 1fr;
  }

  .left-section img {
    width: 300px;
    height: 300px;
  }

  h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
  }

  p#about-me-description {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
  }

  #about-me-logos {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .cards-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    margin-top: 120px;
    place-items: center;
  }

  #skills-card img {
    width: 30px;
  }

  #github-skill-icon {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .header-right a {
    display: none;
  }

  .ham-menu {
    display: block;
  }
}